fastapi==0.118.3
uvicorn[standard]==0.37.0
httpx==0.28.1
sqlalchemy==2.0.44
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart==0.0.22
anime-parsers-ru[async]==1.13.3
aiofiles==25.1.0
python-dotenv==1.2.1
python-dateutil==2.9.0.post0
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.3.0
watchfiles==1.1.1
